 <div class="container">
 <div class="row">
<h2>View Contact Management</h2>
 <!-- dummy data -->
 <p style="text-align: justify; margin-top: 30px;">
    This is a dummy data.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit sunt minus eligendi necessitatibus. Optio dolore voluptatem totam minus. Illo minima deserunt, et provident ipsam consequuntur ipsum vitae debitis accusamus doloribus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repellendus ducimus adipisci eum sequi magni, quis soluta accusantium facilis alias! Debitis, alias velit quae obcaecati a unde placeat cum quaerat?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit cum corrupti quas aperiam, voluptatibus fuga eos est omnis architecto. Neque porro placeat distinctio minima rerum blanditiis nobis excepturi adipisci odit.
</p>
 </div>
 </div>

    <div class="container mt-1">
        <div class="row align-items-center">
           <div class="col-md-4">
            <!-- contact  image -->
          <img width="250px" height="250px" class="imp-fluid img-thumbnail"  [src]="contact.photo" alt="contact image">
         </div>
          
           <div class="col-md-6">
<!-- contactdetails -->
            <ul class="list-group">
                <li class="list-group-item">
                Name: <span class="fw-bolder">{{contact.name}}</span>
                </li>
                <li class="list-group-item">
                    Email: <span class="fw-bolder">{{contact.email}}</span>
                    </li>
                    <li class="list-group-item">
                        Mobile: <span class="fw-bolder">{{contact.mobile}}</span>
                        </li>
                        <li class="list-group-item">
                            Company: <span class="fw-bold">{{contact.company}}</span>
                            </li>
                            <li class="list-group-item">
                                Ttle: <span class="fw-bold">{{contact.title}}</span>
                                </li>
                                <li class="list-group-item">
                                    Group: <span class="fw-bold">{{groupName}}</span>
                                    </li>
            </ul>

           </div>
        </div>

            </div>
       